$primarycolor: rgb(0, 0, 0);
$secondaryColor: yellow;
$thirdColor: red;
$listStyle: none;
$size: 1440px;
$font: Barlow;
$fontColor: #ffffff;

$textDecoration: none;
$weight: 800;

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin flex-spacebetween-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@mixin border-box-margin-padding {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex-spacebetween-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  //   max-width: 1440px;
  margin: 0 auto;
 
}
html, body { height: 100%; }
.container {
  background: linear-gradient(236.56deg, #2c2d65 0.35%, #201f22 100%);
  text-decoration: $textDecoration;
  max-width: $size;
  list-style: $listStyle;
  font-weight: $weight;
  margin: 0 auto;
  li {
    list-style: $listStyle;
  }
}
.container { min-height: 100vh; }
.header {
  margin: 0 auto;
  padding: 50px;
  @include flex-spacebetween-row();
  font-family: $font;
  align-items: center;
  span {
    color: #e6606c;
  }

  .menu a {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: $fontColor;


  }
  .logo {
    font-family: Barlow;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    color: $fontColor;
    
      text-decoration: none;
    
     }


}
.item {
  @include flex-spacebetween-row();
  gap: 10px;
  a{
    text-decoration: none;
  }
}
// ________________________________________________________________________
.titleContainerLeftTop {
  border-radius: 75px 0px 0px 0px;
}

@keyframes colorAnimation {
  0% {
    color: #c80414; 
  }
  50% {
    color: #ad7000; 
  }
  100% {
    color: #ffffff; 
  }
}
.title-container {

  padding: 60px;
  max-width: 670px;
  top: 233px;
  left: 120px;
  border-radius: 75px 0px 0px 0px;
 
  h1 {
    position: relative;
    color: #ffffff;
    font-family: Barlow;
    font-size: 64px;
    font-weight: 300;
    line-height: 76.8px;
    letter-spacing: 0.045em;
    text-align: left;
    text-transform: uppercase;
     animation: colorAnimation 3s infinite; 
  }
  h1::before {
    content: url(images/deko3.png);
    position: absolute;
  top: -50%;
  left:-10%;
   
  }

  h1::after {
    content: url(images/alfa.png);
    position: absolute;
    top: -300px;
    left: 115%;
  }

  h2 {
    font-family: Barlow;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.045em;
    text-align: left;
    font-family: Barlow;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #e8ab36;
    text-transform: uppercase;
  }
  p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #efefef;
  }

  .btn-1 {
    width: 152px;
    height: 43px;
    top: 514px;
    left: 126px;
    border-radius: 20px;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.045em;
    background-color: #e6606c;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #ffffff;
    text-transform: uppercase;
  }
  .button {
    position: relative;
  }
  .btn-2 {
    width: 152px;
    height: 43px;
    top: 514px;
    left: 126px;
    border-radius: 20px;
    opacity: 0px;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.045em;
    background: #efefef;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #000000;
    text-transform: uppercase;
  }
  .btn-2::after {
    content: url(images/deko2.png);
    position: absolute;
    left: 250px;
    top: 5px;
  }
  // .woman {
  //   max-width: 730px;
  //   height: 747px;
  // }
}
.button {
  padding: 30px;
}
.firstMainContainerGrid {
  margin-top: 100px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  margin-top:100px ;
}

.loremContainer {
  padding: 35px;
  max-width: 470px;
  border-radius: 75px 0px 0px 0px;

  h2 {
    position: relative;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: left;
    color: #ffffff80;
  }
  h2 {
    font-family: Barlow Condensed;
    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
    text-align: left;
    color: $fontColor;
  }
  h2::after {
    content: url(images/circle.png);
    position: absolute;
    right: -90px;
    top: 20px;
  }

  p {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: $fontColor;
  }

  .prf-1 {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #ffffff80;
  }

  button {
    width: 152px;
    height: 43px;
    top: 514px;
    left: 126px;
    border-radius: 20px;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.045em;
    background-color: #e6606c;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.ipsumContainer {
  display: flex;
  flex-direction: row;
}

.ipsumContainerFlex {
  padding: 100px;
  margin: 0 auto;
  h1 {
    text-transform: uppercase;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff80;
  }

  h2 {
    font-family: Barlow Condensed;
    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
    text-align: center;
    color: $fontColor;
    position: relative;
  }
  h2::before {
    content: url(images/deko3.png);
    top: -58px;
    left:60%px;
    position: absolute;

  }
  p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #ffffff80;
  }
}
//footer section

.image-text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
}

.first-Article,
.second-Article,
.third-Article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff14;
  width: 370px;
  border-radius: 12px 12px 12px 12px;
  border: 2px 0px 0px 0px;
  background: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
}

.img-1,
.img-2,
.img-3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.articles {
  h1 {
    color: #ffffff;
    font-family: Barlow Condensed;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    justify-content: center;
  }
  p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #ffffff80;
  }
}

// Footer Section
// _______________________________________________________________________
.footer-content {
  .logo {
    font-family: Barlow;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    color: #ffffff;

    span {
      color: #e6606c;
    }
  }
  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  list-style: none;
  //______________________________________________

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  a {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
  }
  h2 {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff80;
  }
}

.social {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;

}

.social li {
  margin: 10px 0;
  background-image: url('images/oval.png'); 
  background-position: center;
  background-size: cover;
  border-radius: 50%; 
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.social li img {
  width: 16px;
  height: 16px;
}


.social img {
  width: 9.33px;
  height: 16px;
  top: 2285px;
  left: 1078px;
  gap: 0px;
  opacity: 0px;
  

}
img  {
max-width: 100%;
height:100% ;

}

//last section footer
.footer {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 35px;
  gap: 30px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff80;
  a {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;

    color: #ffffff;
  }
}
.cond ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.service {
  display: flex;
  justify-content: last baseline;
  flex-direction: column;
  gap: 20px;
}
.menu {
  display: flex;
  justify-content: last baseline;
  flex-direction: column;
  gap: 20px;
  
}

//responsive

@media screen and (max-width: 780px) {

  .footer-content{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  padding: 60px;
margin: 0 auto;

}
  .container {
    padding: 35px;
  }
 
  .firstMainContainerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .loremContainer {
    width: 100% !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .image-text-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .title-container{
  
    background-size: 100px;
    background-position: center;
    padding: 40px;
  }
}

@media screen and (max-width: 480) {
  .title-container p {
    width: 100%;
  }
  .container {
    padding: 35px;
  }
  .firstMainContainerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .loremContainer {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .image-text-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
 
  .loremContainer {
    padding: 30px;
    margin: 0 auto;
  }
}
